* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}



.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
    grid-gap: 80px;
    margin-top: 50px;
}
.card{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.card img{
   width: 100%; 
   border-radius: 10px;
   display: block;
   transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #00c3ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
    color: #fff;
}
.layer h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #006eff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.card:hover img{
    transform: scale(1.1);
}
.card:hover .layer{
    height: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
